# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/swiftpm/
xcuserdata/

# SPM
.build/
.swiftpm/

# macOS
.DS_Store
*.swp
*~

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Node / Electron
node_modules/
dist/
windows-player/dist/
windows-player/node_modules/

# Sparkle
*.dmg
*.zip
!website/public/downloads/
!website/public/downloads/*.zip
*.xcworkspace/xcshareddata/swiftpm/
